%ul.nav.nav-pills.nav-stacked= main_navigation
%ul.nav.nav-pills.nav-stacked= root_navigation
%ul.nav.nav-pills.nav-stacked= static_navigation
%ul.nav.nav-pills.nav-stacked{:style => "padding: 6px 15px;"}= link_to("Member Points", "/points", :class => "nav nav-pills nav-stacked")