<div class="text-center">
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="error">
            <%= value %>
        </div>
    <% end %>
</div>

<div class ="login-title text-center">
    <h5>Login</h5>
</div>

<div class="login-container container text-center">
    <hr/>
    <div class="login-group mx-auto justify-content-center">
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
    </div>
    <div class="login-group mx-auto justify-content-center">
        <%= link_to "Sign Out", exit_user_session_path, method: :get %>
    </div>
</div>