<div class="text-center">
    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="error">
            <%= value %>
        </div>
    <% end %>
    
</div>

<div class="login-title text-center">
    <h5>Login</h5>
</div>

<div class="login-container container text-center">
    <hr/>
    <div class="login-group center">
        <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
            <%= image_tag('btn_google_signin_dark.png', :class => "login-button") %>
        <% end %>
    </div>
</div>