<div class="login-container container text-center">
    <div class ="title">
        <h5>Logout Page</h5>
    </div>
    <hr/>
    <div class="flash-group mx-auto justify-content-center">
        <% if flash.any? %>
            <% flash.each do |key, value| -%>
                <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
            <% end -%>
        <% end %>
    </div>
    <div class="login-group mx-auto justify-content-center">
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post %>
    </div>
</div>

      
