<nav class="nav-bar navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Login</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% @links.each do |l| %>
            <li class="nav-item">
                <a class="nav-link navbar-brand" aria-current="page" href=l[1]><%= l[0] %></a>
            </li>
            <% end %>
        </ul>
    </div>
  </div>
</nav>
