<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" style="color: #3A546C" id="myModalLabel">Event Code</h4>
    </div>
    <div class="modal-body">
      <form accept-charset="UTF-8" action="/events/join" method="post">
        <label style="color: black">
          Enter the meeting code
          <input type="text" name="event[eventCode]" value=""/>
        </label>
        <br/>
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <button type="submit" class="btn btn-primary">Check In</button>
      </form>
    </div>
  </div>
</div>