<style>
    .checkin-form {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 20px;
    }
</style>
<div class="checkin-form">
  <form action="/checkin" method="post" accept-charset="UTF-8">
    <label>Email:
      <input id="email" name="eventuser[email]" type="text"/>
    </label>
    <br/>
    <button type="submit" name="eventuser[event_id]" value="<%= @event.id %>" class="btn btn-primary" style="margin-top: 20px">Check In</button>
  </form>
</div>