<script>
    const actual_url = "https://github.com/anspoints/anspoints_app/wiki/Admin-Manual";

    window.location.replace(actual_url);
</script>
<noscript>
  The wiki is available here:
  <a href="https://github.com/anspoints/anspoints_app/wiki/Admin-Manual">https://github.com/anspoints/anspoints_app/wiki</a>
</noscript>
