@import "home.scss";

.contact-card {
    border: none;
    background-color: white !important;
    padding: 8px 10px 8px 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px $theme-light-grey;
}