@import "home";

.event-divier {
    color: $theme-dark-grey;
    float: left;
    margin-bottom: 10px;
    .line-divider {
        justify-content: center;
        align-items: center;
        background-color: $theme-dark-grey;
    }
}

.event-card {
    background-color: white !important;
    padding: 14px 20px 14px 20px;
    border-radius: 14px;
    box-shadow: 0px 5px 5px $theme-light-grey;
    margin-bottom: 10px;
    /*
    .card-body {
        pointer-events: none;
    } */
    .event-date {
        background-color: $theme-light-grey;
        padding: 4px;
        border-radius: 5px;
    }
}