@import 'home';

#table-header{
    z-index: 100;
    text-align: center;
    font-family: var(--bs-body-font-family);
    font-weight: inherit;
    font-size: medium;
    border-width: medium !important;
    border-color: $theme-dark-blue;
    background-color:  $theme-dark-blue;
    color: white !important;
}

.thead-dark {
    th {
      color: white;
      background-color: $theme-dark-blue;
      border-color: $theme-dark-blue;
    }
  }

.li{
    color: #000000 !important;
}

.i{
    color: #000000 !important;
}

#empty-header{
    z-index: 100;
    text-align: center;
    font-family: var(--bs-body-font-family);
    font-weight: inherit;
    font-size: medium;
    border-width: medium !important;
    border-color: $theme-light-grey;
    background-color:  $theme-light-grey;
    color: $theme-splash-font-color;
}

.filters-container{
    padding-right: 15px;
}

.date-title{
    padding-top: 15px;
}

.date-input-container{
    text-align: center;
    padding-top: 7px;
}

.date-title-container{
    text-align: right;
}

#table-header a:link, 
#table-header a:visited, 
#table-header a:active{
    color: $theme-lighter-grey !important;
    text-decoration: blink !important;
}

#table-header a:hover{
    color: $theme-dark-grey !important;
    text-decoration: blink !important;
}

#searchTableInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.title{
    color: #3A546C !important;
    padding: 50px;
    text-align: center;
}

.user-search-container{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.points, .ul{
    padding-left: 10px;
    padding-top: 5px;
}

.date-button-container{
    margin-bottom: 0px;
    text-align: center;
    padding-top: 10px;
}

.export-button-container{
    text-align: right;
    padding-right: 10px;
    padding-bottom: 8px;
}

.export-button{
    margin-top: 10px;
}

tbody tr td {
    color: var(--text-color);
}
