@import "home";

.table-header{
    z-index: 100;
    text-align: center;
    font-family: ui-serif;
    font-weight: bolder;
    font-size: large;
    border-width: medium !important;
    border-color: #3A546C;
    background-color: #3A546C !important;
    color: #FFFFFF;
}

#searchTableInput{
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.table-container{
    margin: 10px;
}

.title{
    color: #3A546C !important;
    padding: 50px;
    text-align: center;
}

.search-container{
    padding-left: 10px;
    padding-right: 10px;
}

.points
.ul{
    padding-left: 10px;
    padding-top: 5px;
}