<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      <h4 class="modal-title" id="myModalLabel">Event Code</h4>
    </div>
    <div class="modal-body">
      <form accept-charset="UTF-8" action="/events/join" method="post">
        <label>
          Enter the meeting code
          <input type="text" name="event[eventCode]" value=""/>
        </label>
        <br/>
        <button type="submit" class="btn btn-primary">Check In</button>
      </form>
    </div>
  </div>
</div>