<div class="d-flex flex-row w-100 justify-content-between nav-container">
  <a class="p-2 w-100 text-center nav-link" href="/events">Events</a>
  <%= link_to 'Points', "/users/search", class: "p-2 w-100 text-center nav-link" %>
  <a class="p-2 w-100 text-center nav-link" href="/contacts/search">Contacts</a>
  <a class="p-2 w-100 text-center nav-link" href="/User-Manual">Help</a>
  <a class="p-2 w-100 text-center nav-link nav-link-admin" href="/admin">Admin</a>
</div>
