<nav class="nav-bar navbar">
  <div class="d-flex container nav-container">
    <div class="d-flex collapse navbar-collapse justify-content-center" id="navbarNav">
        <div class="nav-link">
            <a class="nav-item" aria-current="page" href="/events">Events</a>
        </div>
        <div class="nav-link">
            <%= link_to 'Points', "/users/search", class: "nav-item" %>
        </div>
        <div class="nav-link">
            <a class="nav-item" aria-current="page" href="/contacts">Contacts</a>
        </div>
        <div id="adminy" class="nav-link">
            <a class="nav-item" aria-current="page" href="/admin">Admin Login</a>
        </div>
    </div>
  </div>
</nav>
