<div class="home-splash d-flex justify-content-center align-items-center text-center">
    <div class="p-2">
        <%# <h1>ANS Points</h1> %>
        <div class="main-logo">
            <a href="/events"> 
                <%= image_tag("light_logo_ans_points.png", :class => "logo-image") %>
            </a>
        </div>
    </div>
    
    
</div>